$pw-blue: #63B6F8;
$pw-green: #72E55B;

.main-profile-pic-block {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    height: 250px;
    width: 100%;
    background-color: $pw-blue;
    // background-color: #34D8DB;
}

.main-profile-pic {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-image: url("../images/profiles/lydia.jpg");
    background-size: 100% 100%;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.link-highlight {
    font-weight: bold;
    color: $pw-blue;
    // color: #568FFF;
    text-decoration: none;
}

.link-highlight:hover {
    cursor: pointer;
    color: $pw-green;
    text-decoration: none;
}

.navi-item {
    // background-color: #5500FF;
    width: 260px;
    height: 40px;
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen Sans,Cantarell,Droid Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Lucida Grande,Helvetica,Arial,sans-serif;
}

.navi-item:hover {
    cursor: pointer;
}

@keyframes font-enlarge {
    from {
        font-size: 22px;
    }
    to {
        font-size: 28px;
    }
}

.navi-experience {
    // border-radius: 20%;
    // background-color: #5500FF;
    z-index: 5;
    position: absolute;
    left: 360px;
    top: 40px;
    -webkit-animation-name: navi-experience-effect; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation: navi-experience-effect 2s ease;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes navi-experience-effect {
    0% {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    100% {
        position: absolute;
        left: 360px;
        top: 40px;
    }
}

/* Standard syntax */
@keyframes navi-experience-effect {
    0% {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    100% {
        position: absolute;
        left: 360px;
        top: 40px;
    }
}

.navi-writer {
    //border-radius: 50%;
    //background-color: #568FFF;
    z-index: 5;
    position: absolute;
    right: 360px;
    top: 40px;
    -webkit-animation-name: navi-writer-effect; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation: navi-writer-effect 2s ease backwards;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes navi-writer-effect {
    0% {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    100% {
        position: absolute;
        right: 360px;
        top: 40px;
    }
}

/* Standard syntax */
@keyframes navi-writer-effect {
    from {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    to {
        position: absolute;
        right: 360px;
        top: 40px;
    }
}

.navi-art-lover {
    //border-radius: 50%;
    //background-color: #72E55B;
    z-index: 5;
    position: absolute;
    left: 150px;
    top: 140px;
    -webkit-animation-name: navi-art-lover-effect; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: navi-art-lover-effect;
    animation-duration: 2s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes navi-art-lover-effect {
    0% {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    100% {
        position: absolute;
        left: 150px;
        top: 140px;
    }
}

/* Standard syntax */
@keyframes navi-art-lover-effect {
    0% {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    100% {
        position: absolute;
        left: 150px;
        top: 140px;
    }
}

.navi-kittyMother {
    //border-radius: 50%;
    //background-color: #6F28FF;
    z-index: 5;
    position: absolute;
    right: 150px;
    top: 140px;
    -webkit-animation-name: navi-kittyMother-effect; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation: navi-kittyMother-effect 2s ease;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes navi-kittyMother-effect {
    0% {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    100% {
        position: absolute;
        right: 150px;
        top: 140px;
    }
}

/* Standard syntax */
@keyframes navi-kittyMother-effect {
    0% {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    100% {
        position: absolute;
        right: 150px;
        top: 140px;
    }
}

.hi-logo {
    position: absolute;
    top: 100px;
    width: 100%;
    height: 150px;
}

#hi-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: hi-logo-fill 3s ease forwards 4.5s;
}

#hi-logo path {
    stroke-width: 2px;
    stroke: white;
}

#hi-logo path:nth-child(1) {
    stroke-dasharray: 855;
    stroke-dashoffset: 855;
    animation: hi-logo-animation 2.5s ease forwards;
}

#hi-logo path:nth-child(2) {
    stroke-dasharray: 198.1;
    stroke-dashoffset: 198.1;
    animation: hi-logo-animation 0.8s ease forwards 1s;
}

#hi-logo path:nth-child(3) {
    stroke-dasharray: 56.4;
    stroke-dashoffset: 56.4;
    animation: hi-logo-animation 0.4s ease forwards 1.8s;
}

#hi-logo path:nth-child(4) {
    stroke-dasharray: 532.4;
    stroke-dashoffset: 532.4;
    animation: hi-logo-animation 1.5s ease forwards 2.2s;
}

#hi-logo path:nth-child(5) {
    stroke-dasharray: 332;
    stroke-dashoffset: 332;
    animation: hi-logo-animation 1.6s ease forwards 2.6s;
}

#hi-logo path:nth-child(6) {
    stroke-dasharray: 443.1;
    stroke-dashoffset: 443.1;
    animation: hi-logo-animation 2.2s ease forwards 3s;
}

#hi-logo path:nth-child(7) {
    stroke-dasharray: 489.8;
    stroke-dashoffset: 489.8;
    animation: hi-logo-animation 1.5s ease forwards 4s;
}

#hi-logo path:nth-child(8) {
    stroke-dasharray: 294.5;
    stroke-dashoffset: 294.5;
    animation: hi-logo-animation 2s ease forwards 4.5s;
}

@keyframes hi-logo-animation {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes hi-logo-fill {
    0% {
        fill: transparent;
    }

    100% {
        fill: white;
    }
}

.iframe-display-body {
    position: absolute;
    top: 250px;
    width: 100%;
    height: 100vh;
    border: none;
    // background-color: #A7A3C7;
}

.page {
    position: absolute;
    top: 0;
    left: 0;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen Sans,Cantarell,Droid Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Lucida Grande,Helvetica,Arial,sans-serif;
}

.experience-page {
    background-color: #F2F4F4;
    //width: 100%;
    //height: 100vh;
}

.experience-section {
    background-color: #FFFFFF;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 260px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;

}

.experience-text-container-left {
    height: 240px;
    width: 75%;
    float: left;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.experience-text-container-right {
    height: 240px;
    width: 75%;
    float: right;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.experience-text-main {
    height: 180px;
    width: 98%;
    padding-bottom: 15px;
}

.experience-text-title-container {
}

.experience-text-title-content {
    color: $pw-blue;
    // color: #568FFF;
    font-size: 22px;
}

.experience-text-title-subcontent {
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.experience-text-position {
    font-size: 18px;
    font-weight: bold;
}

.experience-text-intro {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
}

.experience-pic-container-left {
    position: relative;
    float: left;
    width: 18%;
    padding-top: 40px;
    padding-left: 30px;
}

.experience-pic-container-right {
    position: relative;
    float: right;
    width: 18%;
    padding-right: 10px;
    padding-top: 40px;
}

.experience-pic {
    height: 150px;
    width: 150px;
}

.easyrent-logo-pic {
    background-color: blue;
}

.tca-logo-pic {
    background-image: url("../images/experiences/tca-logo.png");
    background-size: 100% 100%;
}

.mode-logo-pic {
    background-image: url("../images/experiences/mode-logo.png");
    background-size: 100% 100%;
}

.fenwick-logo-pic {
    background-image: url("../images/experiences/fenwick-logo.png");
    background-size: 100% 100%;
}

.caltech-experience-logo-pic {
    background-image: url("../images/experiences/caltech-experience-logo.png");
    background-size: 100% 100%;
}

.stanford-experience-logo-pic {
    background-image: url("../images/experiences/stanford-experience-logo.png");
    background-size: 100% 100%;
}

.ucsd-experience-logo-pic {
    background-image: url("../images/experiences/ucsd-experience-logo.png");
    background-size: 100% 100%;
}

.bupt-experience-logo-pic {
    background-image: url("../images/experiences/bupt-experience-logo.png");
    background-size: 100% 100%;
}

.page-intro-container {
    height: 120px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

.writer-section {
    margin-top: 25px;
    height: 200px;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    // TODO: update later
    // background-color: #B5C7A7;
}

#david-baltimore.writer-section {
    animation: writer-section-effect 2s;
}

#robert-grubbs.writer-section {
    animation: writer-section-effect 2s backwards 0.5s;
}

#rudolph-marcus.writer-section {
    animation: writer-section-effect 2s backwards 1s;
}

#stanford-cgcp.writer-section {
    nimation: writer-section-effect 2s backwards 1.5s;
}

@keyframes writer-section-effect {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}

.writer-pic-container {
    height: 220px;
    width: 220px;
    float: left;
}

.writer-pic {
    height: 170px;
    width: 175px;
}

.nobel-prize-baltimore-pic {
    background-image: url("../images/writer/with-david-baltimore.png");
    background-size: 100% 100%;
    border-radius: 20%;
    padding: 15px;
}

.nobel-prize-grubbs-pic {
    background-image: url("../images/writer/with-robert-grubbs.png");
    background-size: 100% 100%;
    border-radius: 20%;
    padding: 15px;
}

.nobel-prize-marcus-pic {
    background-image: url("../images/writer/with-rudolph-marcus.png");
    background-size: 100% 100%;
    border-radius: 20%;
    padding: 15px;
}

.stanford-cgcp-pic {
    background-image: url("../images/writer/stanford-cgcp-with-mei.jpg");
    background-size: 100% 100%;
    border-radius: 20%;
    padding: 15px;
}

.writer-text-container {
    position: relative;
    padding-left: 240px;
    height: 180px;
    width: 70%;
}

.writer-text-main {
    height: 140px;
    width: 100%;
    padding-bottom: 15px;
}

.writer-text-title-container {
    height: 30px;
}

.writer-text-title-content {
    color: $pw-blue;
    // color: #568FFF;
    font-size: 22px;
    float: left;
}

.writer-text-title-logo {
    float: right;
}

.writer-text-title-logo-caltech {
    position: relative;
    height: 34px;
    width: 34px;
    background-image: url("../images/writer/caltech-logo.png");
    background-size: 100% 100%;
}

.writer-text-title-logo-stanford {
    position: relative;
    height: 34px;
    width: 34px;
    background-image: url("../images/writer/stanford-logo.png");
    background-size: 100% 100%;
}

.writer-text-intro {
    padding-top: 10px;
    font-size: 15.5px;
}

.read-full-article-container {
    height: 50px;
    width: 100%;
    position: relative;
    bottom: 0;
}

.read-full-article-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: $pw-blue;
    border-radius: 100px;
    font-size: 18px;
    color: #FFFFFF;
}

.read-full-article-button:hover {
    opacity: 0.5;
    cursor: pointer;
}

.read-full-article-text {
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
}

.kittyMother-page {
    width: 100%;
    height: 100vh;
    background-color: #F2F4F4;
}

.page-title {
    text-align: center;
    font-size: 28px;
    color: $pw-blue;
    // color: #568FFF;
    padding-bottom: 10px;
}

.page-intro {
    font-size: 16px;
    font-family: roboto, helvetica, sans-serif;
}

.kitty-name {
    font-weight: bold;
    color: $pw-blue;
    //color: #568FFF;
}

.kitty-section-large {
    height: 240px;
    width: 480px;
    margin: auto;
}

.kitty-pic-large-pitton {
    float: left;
    height: 240px;
    width: 240px;
    background-image: url("../images/kitties/1.JPG");
    background-size: 100% 100%;
    animation: fade-in-effect 4s ease both 0.2s;
}

.kitty-pic-large-dublin {
    position: relative;
    left: 240px;
    height: 240px;
    width: 240px;
    background-image: url("../images/kitties/2.JPG");
    background-size: 100% 100%;
    animation: fade-in-effect 4s ease both 0.2s;
}

.kitty-section-regular {
    // change later
    height: 180px;
}

table {
    width: 100%;
    border: 0;
}

tr {
    height: 200px;
}

th {
    width: 16.6%;
}

@keyframes fade-in-effect {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

.kitty-pic {
    filter: grayscale(70%);
}

.kitty-pic:hover {
    filter: grayscale(0);
    cursor: pointer;
}

.kitty-pic-regular-1 {
    background-image: url("../images/kitties/3.JPG");
    background-size: 100% 100%;
    animation: fade-in-effect 4s ease both 0.5s;
}

.kitty-pic-regular-2 {
    background-image: url("../images/kitties/4.JPG");
    background-size: 100% 100%;
    animation: fade-in-effect 4s ease both 0.8s;
}

.kitty-pic-regular-3 {
    background-image: url("../images/kitties/5.JPG");
    background-size: 100% 100%;
    animation: fade-in-effect 4s ease both 1.1s;
}

.kitty-pic-regular-4 {
    background-image: url("../images/kitties/6.JPG");
    background-size: 100% 100%;
    animation: fade-in-effect 4s ease both 1.4s;
}

.kitty-pic-regular-5 {
    background-image: url("../images/kitties/7.JPG");
    background-size: 100% 100%;
    animation: fade-in-effect 4s ease both 1.7s;
}

.kitty-pic-regular-6 {
    background-image: url("../images/kitties/8.JPG");
    background-size: 100% 100%;
    animation: fade-in-effect 4s ease both 2.0s;
}

.kitty-pic-regular-7 {
    background-image: url("../images/kitties/9.JPG");
    background-size: 100% 100%;
    animation: fade-in-effect 4s ease both 2.0s;
}

.kitty-pic-regular-8 {
    background-image: url("../images/kitties/10.JPG");
    background-size: 100% 100%;
    animation: fade-in-effect 4s ease both 1.7s;
}

.kitty-pic-regular-9 {
    background-image: url("../images/kitties/11.JPG");
    background-size: 100% 100%;
    animation: fade-in-effect 4s ease both 1.4s;
}

.kitty-pic-regular-10 {
    background-image: url("../images/kitties/12.JPG");
    background-size: 100% 100%;
    animation: fade-in-effect 4s ease both 1.1s;
}

.kitty-pic-regular-11 {
    background-image: url("../images/kitties/13.JPG");
    background-size: 100% 100%;
    animation: fade-in-effect 4s ease both 0.8s;
}

.kitty-pic-regular-12 {
    background-image: url("../images/kitties/14.PNG");
    background-size: 100% 100%;
    animation: fade-in-effect 4s ease both 0.5s;
}

